<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
  <Appenders>
    <RandomAccessFile name="File"
                      fileName="${sys:logs.root}/${web:contextPath}-${date:yyyy-MM-dd}.log"
                      immediateFlush="false"
                      append="true">
      <PatternLayout pattern="%d %p [%t] %X %c{1.} %m%n" />
    </RandomAccessFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p [%t] %X %c{1.} %m%n" />
    </Console>
  </Appenders>
</Configuration>
